<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body><form action="/classification" method="post">
    <label for="statutProfessionnel">statut professionnel</label>
    <input type="text" name="statutProfessionnel" id="" placeholder="statut professionnel">
    <label for="moyenneScolaire"> moyenne scolaire</label> 
    <input type="text" name="moyenneScolaire" id="" placeholder="moyenne scolaire">
    <label for="niveauAcademique">niveau academique</label>
    <input type="text" name="niveauAcademique" id="" placeholder="niveau academique">
    <input type="submit" value="Classifier">

</form>
</html>