
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container{
    height: 100%;
    width: 100%;
    background-image: url('../../images/background/background-image.webp');
    background-position: center;
    position: absolute;
}

.container .body-contains{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .body-contains .image-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.631);
    width: 70%;
}

.container .body-contains .image-text .image, .container .body-contains .image-text .text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.container .body-contains .image-text .image img{
    width: 100%;
}

.container .body-contains .image-text .text #job{
    text-align: center;
    font-size: 110%;
}

@media only screen and (max-width: 600px){
    .container .body-contains .image-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .container .body-contains .image-text .image, .container .body-contains .image-text .text{
        /* height: 50%; */
        width: fit-content;
    }

    .container .body-contains .image-text .text #job{
        text-align: center;
        font-size: 100%;
    }

    .container .body-contains .image-text .text #job #job-description{
        text-align: center;
        font-size: 80%;
    }
}
