<!DOCTYPE html>
<html lang="en" id="html-code">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/acceuil.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>

    <title>Document</title>

</head>

<body>
    <section class="page">
        <!-- entete de la page  -->
        <div class="head">
            <div class="row">
                <div class="col-2">
                    <div class="logo"> <span>StudOr</span> </div>
                </div>
                <div class="col-10 titre">
                    <span>STUDOR</span>
                </div>
            </div>
        </div>
        <!-- ############################################## -->

        <!-- partie principale de la page -->
        <div class="main p-0 w-100 m-0">
            <div class=" main-p  row">
                <div class="description row m-0 ">
                    <p class="p-0 m-0"  id="descript" > 
                        <!-- Suivre une bonne orientation<br>
                        Academique, <br>Professionelle et <br> Nutritionel -->
                    </p>
                </div>
            </div>
            <div class="row card-r w-100 m-0" >
                <div class="col-3 card-p">
                    <div class="card-op row">
                        <!-- <div class="row card-op-top p-0 m-0"></div> -->
                        <button class="row row card-op-bot  m-0" onclick="getProfilPro()">
                            Orientation professionelle
                        </button>
                    </div>
                </div>
                <div class="col-3 card-p">
                    <div class="card-op row">
                        <!-- <div class="row card-op-top p-0 m-0"></div> -->
                        <button class="row row card-op-bot  m-0">
                            Decouverte d'univeriste
                        </button>
                    </div>
                </div>
                <div class="col-3 card-p p-0 m-0">
                    <div class="card-op row p-0 m-0">
                        <!-- <div class="row card-op-top p-0 m-0"></div> -->
                        <button class="row row card-op-bot  m-0">
                            Orientation alimentaire
                        </button>
                    </div>
                </div>
                <div class="col-3 card-p">
                    <div class="card-op row">
                        <!-- <div class="row card-op-top p-0 m-0"></div> -->
                        <button class="row row card-op-bot  m-0">
                            Orientation Academique
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ##################################### -->

        <!-- pied de la page  -->
        <div class="foot">

        </div>


    </section>


    <script src="/assets/js/test.js"></script>

</body>

</html>