<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style rel="stylesheet" href="/css/footer-studor-profile.css"></style>
    <style rel="stylesheet" href="/css/header-studor-profile.css"></style>
    <title>Studor Establishment Suggested</title>
</head>
<body>
    <div class="container">
        <header class="head">
            <div class="studor-logo"><p class="studor-text-logo">StudOr</p></div>
            <h1>STUDOR</h1>
        </header>
        <footer class="foot">
            <button id="predict" class="job-discovery">Decouvrez votre profession</button>
            <button id="suggest" class="discovery-opportunities">Decouvrez d'autres opportunites</button>
            <button class="build-analyse">Renforcez votre analyse</button>
        </footer>
    </div>
    <script type="module" src="/js/job-prediction.js"></script>
    <script type="module" src="/js/establishment-suggestion.js"></script>
</body>
</html>